services:
  dev:
    env_file:
      - .env
    build: 
      context: .
      dockerfile: Dockerfile.dev
    command: pnpm dev
    working_dir: /workspace
    ports:
      - "5173:5173"
    restart: unless-stopped
    develop:
      watch:
        - action: sync
          path: ./src
          target: /workspace/src
        - action: sync
          path: ./static
          target: /workspace/static
        - action: sync
          path: ./e2e
          target: /workspace/e2e
        - action: sync+restart
          path: ./package.json
          target: /workspace/package.json
    
  open_hands_runtime:
    image: 'ghcr.io/all-hands-ai/runtime:main-nikolaik'
  smtp_server:
    image: 'rnwood/smtp4dev'
    ports:
      - '5001:80'
      - '2525:25'
    volumes:
      - smtp4dev-data:/smtp4dev
    environment:
      - RelayOptions__Login=smtp4dev
      - RelayOptions__Password=smtp4dev
  open_hands:
    stdin_open: true
    tty: true
    environment:
      - SANDBOX_RUNTIME_CONTAINER_IMAGE=ghcr.io/all-hands-ai/runtime:main-nikolaik
      - LOG_ALL_EVENTS=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - openhands-state:/.openhands-state
    ports:
      - 3000:3000
    extra_hosts:
      - host.docker.internal:host-gateway
    container_name: openhands-app
    image: ghcr.io/all-hands-ai/openhands:main
    depends_on:
      - open_hands_runtime
    profiles:
      - open_hands

volumes:
  smtp4dev-data:
  openhands-state:
