@import 'tailwindcss';

@config '../tailwind.config.js';

@theme {
	--color-blue-50: oklch(93.94% 0.021 254.92);
	--color-blue-100: oklch(88.75% 0.038 253.23);
	--color-blue-200: oklch(77.2% 0.079 254.04);
	--color-blue-300: oklch(66.1% 0.121 254.4);
	--color-blue-400: oklch(55.56% 0.149 255.14);
	--color-blue-500: oklch(44.18% 0.116 255.23);
	--color-blue-600: oklch(38.18% 0.097 255.15);
	--color-blue-700: oklch(31.57% 0.077 255.09);
	--color-blue-800: oklch(24.58% 0.055 255.12);
	--color-blue-900: oklch(17.39% 0.03 250.68);
	--color-blue-950: oklch(12.58% 0.018 249.96);
	--color-yellow-50: oklch(97.38% 0.017 88);
	--color-yellow-100: oklch(94.74% 0.035 88.78);
	--color-yellow-200: oklch(89.7% 0.068 90.59);
	--color-yellow-300: oklch(84.63% 0.099 89.71);
	--color-yellow-400: oklch(79.82% 0.125 89.47);
	--color-yellow-500: oklch(74.66% 0.141 87.09);
	--color-yellow-600: oklch(63.74% 0.119 87.47);
	--color-yellow-700: oklch(51.78% 0.096 86.95);
	--color-yellow-800: oklch(39.19% 0.07 88.28);
	--color-yellow-900: oklch(25.34% 0.042 87.16);
	--color-yellow-950: oklch(17.84% 0.027 94.25);
	--color-red-50: oklch(92.96% 0.03 2);
	--color-red-100: oklch(86.13% 0.062 3.37);
	--color-red-200: oklch(72.24% 0.137 6.05);
	--color-red-300: oklch(61.94% 0.199 11.75);
	--color-red-400: oklch(51.36% 0.191 15.92);
	--color-red-500: oklch(38.31% 0.139 15.21);
	--color-red-600: oklch(32.64% 0.116 13.82);
	--color-red-700: oklch(27.66% 0.095 13.35);
	--color-red-800: oklch(21.24% 0.068 10.92);
	--color-red-900: oklch(15.6% 0.044 7.43);
	--color-red-950: oklch(11.57% 0.03 358.57);
	--color-slate-50: oklch(92.95% 0.002 17.2);
	--color-slate-100: oklch(86.5% 0.006 3.36);
	--color-slate-200: oklch(71.6% 0.013 358.93);
	--color-slate-300: oklch(57.06% 0.02 359.74);
	--color-slate-400: oklch(41.13% 0.013 2.53);
	--color-slate-500: oklch(24.42% 0.006 0.59);
	--color-slate-600: oklch(21.29% 0.005 355.27);
	--color-slate-700: oklch(19.08% 0.005 355.37);
	--color-slate-800: oklch(15.68% 0.003 17.52);
	--color-slate-900: oklch(13.01% 0.002 17.43);
	--color-slate-950: oklch(8.81% 0.005 18.05);
}

:root {
	--background: 0 0% 100%;
	--foreground: 345.0 6.1% 12.9%;
	--card: 0 0% 100%;
	--card-foreground: 0.0 0.0% 0.0%;
	--popover: 0 0% 100%;
	--popover-foreground: 222.2 84% 4.9%;
	--primary: 212.9 63.8% 34.7%;
	--primary-foreground: 216.0 100.0% 98.0%;
	--secondary: 44.0 66.8% 49.6%;
	--secondary-foreground: 0.0 0.0% 0.0%;
	--muted: 210 40% 96.1%;
	--muted-foreground: 215.4 16.3% 46.9%;
	--accent: 211.6 12.3% 69.6%;
	--accent-foreground: 246.0 100.0% 98.0%;
	--destructive: 346.4 74.6% 27.8%;
	--destructive-foreground: 210 40% 98%;
	--border: 211.6 12.3% 69.6%;
	--input: 214.3 31.8% 91.4%;
	--ring: 221.2 83.2% 53.3%;
	--radius: .15rem;
	--sidebar-background: var(--color-slate-50);
}

.dark {
	--background: 222.2 84% 4.9%;
	--foreground: 210 40% 98%;
	--card: 222.2 84% 4.9%;
	--card-foreground: 210 40% 98%;
	--popover: 222.2 84% 4.9%;
	--popover-foreground: 210 40% 98%;
	--primary: 217.2 91.2% 59.8%;
	--primary-foreground: 222.2 47.4% 11.2%;
	--secondary: 217.2 32.6% 17.5%;
	--secondary-foreground: 210 40% 98%;
	--muted: 217.2 32.6% 17.5%;
	--muted-foreground: 215 20.2% 65.1%;
	--accent: 217.2 32.6% 17.5%;
	--accent-foreground: 210 40% 98%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 210 40% 98%;
	--border: 217.2 32.6% 17.5%;
	--input: 217.2 32.6% 17.5%;
	--ring: 224.3 76.3% 48%;
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}
