@import 'tailwindcss';

@config '../tailwind.config.js';

@theme {
	--color-blue: oklch(44.177% 0.11555 255.23);
	--color-blue-50: oklch(88.405% 0.03956 253.02);
	--color-blue-100: oklch(84.917% 0.05114 253.91);
	--color-blue-200: oklch(77.848% 0.07733 254.15);
	--color-blue-300: oklch(71.072% 0.10161 253.66);
	--color-blue-400: oklch(64.215% 0.12859 254.32);
	--color-blue-500: oklch(57.687% 0.15435 255.59);
	--color-blue-600: oklch(51.029% 0.13642 255.23);
	--color-blue-700: oklch(44.177% 0.11555 255.23);
	--color-blue-800: oklch(34.269% 0.08416 254.75);
	--color-blue-900: oklch(23.328% 0.0507 255.47);
	--color-blue-950: oklch(17.543% 0.0312 254.87);
	--color-yellow: oklch(74.661% 0.14098 87.093);
	--color-yellow-50: oklch(96.751% 0.02205 89.791);
	--color-yellow-100: oklch(94.637% 0.03554 91.123);
	--color-yellow-200: oklch(90.526% 0.06241 91.147);
	--color-yellow-300: oklch(86.564% 0.08832 90.324);
	--color-yellow-400: oklch(82.596% 0.11146 90.054);
	--color-yellow-500: oklch(78.722% 0.13022 89.18);
	--color-yellow-600: oklch(74.661% 0.14098 87.093);
	--color-yellow-700: oklch(62.042% 0.11577 87.264);
	--color-yellow-800: oklch(48.736% 0.08956 87.694);
	--color-yellow-900: oklch(34.816% 0.06119 88.651);
	--color-yellow-950: oklch(26.935% 0.04486 89.217);
	--color-red: oklch(34.567% 0.11558 13.631);
	--color-red-50: oklch(84.9% 0.06268 3.4058);
	--color-red-100: oklch(81.047% 0.07948 3.9977);
	--color-red-200: oklch(73.69% 0.11542 5.7226);
	--color-red-300: oklch(66.981% 0.15222 8.6794);
	--color-red-400: oklch(61.06% 0.18411 11.736);
	--color-red-500: oklch(56.006% 0.19766 15.241);
	--color-red-600: oklch(49.115% 0.17152 15.048);
	--color-red-700: oklch(42.002% 0.14432 14.204);
	--color-red-800: oklch(34.567% 0.11558 13.631);
	--color-red-900: oklch(23.71% 0.07093 12.653);
	--color-red-950: oklch(17.94% 0.04727 9.0107);
	--color-slate: oklch(75.639% 0.01755 250.89);
	--color-slate-50: oklch(100% 0 none);
	--color-slate-100: oklch(100% 0 none);
	--color-slate-200: oklch(95.117% 0.00344 247.86);
	--color-slate-300: oklch(88.674% 0.00812 253.86);
	--color-slate-400: oklch(82.32% 0.01249 247.98);
	--color-slate-500: oklch(75.639% 0.01755 250.89);
	--color-slate-600: oklch(66.447% 0.02377 250.32);
	--color-slate-700: oklch(56.987% 0.02858 250.15);
	--color-slate-800: oklch(47.331% 0.02381 250.62);
	--color-slate-900: oklch(37.108% 0.01739 248.3);
	--color-slate-950: oklch(31.818% 0.01502 252.32);
}

:root {
	--background: hsl(0 0% 100%);
	--foreground: hsl(222.2 84% 4.9%);
	--card: hsl(0 0% 100%);
	--card-foreground: hsl(222.2 84% 4.9%);
	--popover: hsl(0 0% 100%);
	--popover-foreground: hsl(222.2 84% 4.9%);
	--primary: var(--color-blue-700);
	--primary-foreground: hsl(210 40% 98%);
	--secondary: hsl(210 40% 96.1%);
	--secondary-foreground: hsl(222.2 47.4% 11.2%);
	--muted: hsl(210 40% 96.1%);
	--muted-foreground: hsl(215.4 16.3% 46.9%);
	--accent: hsl(210 40% 96.1%);
	--accent-foreground: hsl(222.2 47.4% 11.2%);
	--destructive: hsl(0 72.22% 50.59%);
	--destructive-foreground: hsl(210 40% 98%);
	--border: hsl(214.3 31.8% 91.4%);
	--input: hsl(214.3 31.8% 91.4%);
	--ring: hsl(221.2 83.2% 53.3%);
	--radius: .5rem;
	--sidebar-background: hsl(0 0% 98%);
	--sidebar-foreground: hsl(240 5.3% 26.1%);
	--sidebar-primary: hsl(240 5.9% 10%);
	--sidebar-primary-foreground: hsl(0 0% 98%);
	--sidebar-accent: hsl(240 4.8% 95.9%);
	--sidebar-accent-foreground: hsl(240 5.9% 10%);
	--sidebar-border: hsl(220 13% 91%);
	--sidebar-ring: hsl(217.2 91.2% 59.8%);
	--success: hsl(142.1 76.2% 36.3%);
	--success-foreground: hsl(355.7 100% 97.3%);
}
.dark {
	--background: hsl(222.2 84% 4.9%);
	--foreground: hsl(210 40% 98%);
	--card: hsl(222.2 84% 4.9%);
	--card-foreground: hsl(210 40% 98%);
	--popover: hsl(222.2 84% 4.9%);
	--popover-foreground: hsl(210 40% 98%);
	--primary: var(--color-blue-700);
	--primary-foreground: hsl(222.2 47.4% 11.2%);
	--secondary: hsl(217.2 32.6% 17.5%);
	--secondary-foreground: hsl(210 40% 98%);
	--muted: hsl(217.2 32.6% 17.5%);
	--muted-foreground: hsl(215 20.2% 65.1%);
	--accent: hsl(217.2 32.6% 17.5%);
	--accent-foreground: hsl(210 40% 98%);
	--destructive: hsl(0 62.8% 30.6%);
	--destructive-foreground: hsl(210 40% 98%);
	--border: hsl(217.2 32.6% 17.5%);
	--input: hsl(217.2 32.6% 17.5%);
	--ring: hsl(224.3 76.3% 48%);
	--sidebar-background: hsl(240 5.9% 10%);
	--sidebar-foreground: hsl(240 4.8% 95.9%);
	--sidebar-primary: hsl(224.3 76.3% 48%);
	--sidebar-primary-foreground: hsl(0 0% 100%);
	--sidebar-accent: hsl(240 3.7% 15.9%);
	--sidebar-accent-foreground: hsl(240 4.8% 95.9%);
	--sidebar-border: hsl(240 3.7% 15.9%);
	--sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-sidebar-background: var(--sidebar-background);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-success: var(--success);
	--color-success-foreground: var(--success-foreground);
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
